header {
  font-family: Lexend;
}

body {
  width: 100%;
  font-family: Lexend;
}

footer {
  font-family: Lexend;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  align-items: center;
}
